* {
  margin: 0;
  padding: 0;
}

:root {
  --background : #00181eff;
  --white: #f0f0f0ff;
  --black: #00181e;
  --primary : #cd913cff;
  --red: #4e1404;
  --green: #17220eff;
  --beige: #ca9f91ff;
}

