button{
    background-color: var(--primary);
    color: var(--black);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
    border-radius: 10px;
}
button:hover {
    opacity: 0.8;
}
